@charset "UTF-8";
/* 
@ signboard(칸반 스크롤화면) 내용만 담고있습니다.
@ 모든 크기 단위는 고정적인 px을 사용했습니다. 
@ 해당 범위에서만 사용되는 변수는 이곳에 따로 지정해도됩니다.
*/
.signboardWrapBox {
  padding-bottom: 10px;
  overflow-x: scroll;
}
.signboardWrapBox::-webkit-scrollbar {
  height: 10px;
}
.signboardWrapBox::-webkit-scrollbar-thumb {
  background-color: #FF6202;
  border-radius: 5px;
}
.signboardWrapBox::-webkit-scrollbar-track {
  background-color: #fff;
}

.stepBarBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3333333333rem;
}
.stepBarBox > .stepBarBox-item:nth-child(1) .stepBarBox-item_title {
  background-color: #F7B401;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox > .stepBarBox-item:nth-child(2) .stepBarBox-item_title {
  background-color: #F7B402;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox > .stepBarBox-item:nth-child(3) .stepBarBox-item_title {
  background-color: #F89E00;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox > .stepBarBox-item:nth-child(4) .stepBarBox-item_title {
  background-color: #F89E01;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox > .stepBarBox-item:nth-child(5) .stepBarBox-item_title {
  background-color: #FF9000;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox > .stepBarBox-item:nth-child(6) .stepBarBox-item_title {
  background-color: #FF9001;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox > .stepBarBox-item:nth-child(7) .stepBarBox-item_title {
  background-color: #FF6201;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox > .stepBarBox-item:nth-child(8) .stepBarBox-item_title {
  background-color: #FF6202;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox > .stepBarBox-item:nth-child(9) .stepBarBox-item_title {
  background-color: #E83E0B;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox > .stepBarBox-item:nth-child(10) .stepBarBox-item_title {
  background-color: #727272;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.stepBarBox .stepBarBox-item {
  width: 355px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.stepBarBox .stepBarBox-item:first-child:nth-last-child(3) .stepBarBox-item_title, .stepBarBox .stepBarBox-item:first-child:nth-last-child(3) ~ .stepBarBox .stepBarBox-item .stepBarBox-item_title {
  -webkit-clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
}
.stepBarBox .stepBarBox-item:first-child:nth-last-child(4) .stepBarBox-item_title, .stepBarBox .stepBarBox-item:first-child:nth-last-child(4) ~ .stepBarBox .stepBarBox-item .stepBarBox-item_title {
  -webkit-clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
}
.stepBarBox .stepBarBox-item:first-child:nth-last-child(5) .stepBarBox-item_title, .stepBarBox .stepBarBox-item:first-child:nth-last-child(5) ~ .stepBarBox .stepBarBox-item .stepBarBox-item_title {
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}
.stepBarBox .stepBarBox-item:first-child:nth-last-child(6) .stepBarBox-item_title, .stepBarBox .stepBarBox-item:first-child:nth-last-child(6) ~ .stepBarBox .stepBarBox-item .stepBarBox-item_title {
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}
.stepBarBox .stepBarBox-item:first-child:nth-last-child(7) .stepBarBox-item_title, .stepBarBox .stepBarBox-item:first-child:nth-last-child(7) ~ .stepBarBox .stepBarBox-item .stepBarBox-item_title {
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}
.stepBarBox .stepBarBox-item:first-child:nth-last-child(8) .stepBarBox-item_title, .stepBarBox .stepBarBox-item:first-child:nth-last-child(8) ~ .stepBarBox .stepBarBox-item .stepBarBox-item_title {
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}
.stepBarBox .stepBarBox-item:first-child:nth-last-child(9) .stepBarBox-item_title, .stepBarBox .stepBarBox-item:first-child:nth-last-child(9) ~ .stepBarBox .stepBarBox-item .stepBarBox-item_title {
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}
.stepBarBox .stepBarBox-item:first-child:nth-last-child(10) .stepBarBox-item_title, .stepBarBox .stepBarBox-item:first-child:nth-last-child(10) ~ .stepBarBox .stepBarBox-item .stepBarBox-item_title {
  -webkit-clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
}
.stepBarBox .stepBarBox-item:nth-last-child(-n+2) .stepBarBox-item_title {
  border-radius: 5px !important;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%) !important;
          clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%) !important;
}
.stepBarBox .stepBarBox-item .stepBarBox-item_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  height: 50px;
  position: relative;
  padding: 0.6666666667rem;
  font-size: 1.0666666667rem;
  font-weight: 600;
  color: #fff;
  border-radius: 5px 0 0 5px;
  -webkit-clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.stepBarBox .stepBarBox-item .stepBarBox-item_title.disable {
  color: #666;
  background-color: #f4f4f4 !important;
}
.stepBarBox .stepBarBox-item .stepBarBox-item_title .sizeControl {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14px;
  height: 14px;
  line-height: 14px;
  color: #fff;
  font-size: 0.9333333333rem;
  border: 1px solid #fff;
}