// *컬러 & 고정값*

// 컬러
$main: #FF6202;
$sub1: #FF790D;
$sub2: #F5950C;
$btn1: #4B4B4B;
$btn2: #D2D2D2;
$btn3: #969495; 
$disable: #f4f4f4;
$white: #fff;
$black: #000;
$formText: #727272;
$main-background: #F5F5F5;
$button-primary-color: #24b898;
$button-secondary-color: #0aa07f;
$button-xxs-default-color: #edeff1;
$button-excel-color: #107c41;
$button-search-color: #e83e0b;
$button-back-color: #999999;
$button-cancel-color: #666666;
$button-del-color: #999999;

// rem 기준 사이즈
$base-font-size: 15px;

// 미디어쿼리
$query-wide: 1400px;
$query-tablet: 760px;
$query-mobile1: 580px;
$query-mobile2: 480px;

// inner 사이즈
$inner-size: 1820px;

// font-size
$t-head-m: 18px;
$t-body-l: 20px;
$t-body-m: 16px;
$t-body-s: 14px;
$t-body-ms: 13px;
$t-body-xs: 12px;
$t-body-xxs: 10px;
// font-weight
$bold: 700;
$medium : 400;
$light: 300;

// inputs 자주 사용되는 속성
$common-inputs-border-radius: 3px;

// 스타일속성
$common-box-shadow: 0px 2px 4px 0px rgba(#000, 0.1);