@import "mixin.scss";
@import "functions.scss";
@import "variables.scss";

/* 
@ 전 페이지에 공통으로 사용되고 노출되는 요소들을 담고 있습니다.
@ 모든 크기 단위는 고정적인 px을 사용했습니다. 
@ 해당 범위에서만 사용되는 변수는 이곳에 따로 지정해도됩니다.
*/

$page-layout-gap: 31px;
$content-layout-gap: 21px;
$button-padding: 0 15px;
$button-search-width: 150px;
$button-m-height: 30px;
$button-xxs-width: 23px;
$button-xxs-height: 23px;
$box-border-radius: 10px;

/************************ Layout ************************/

body {
  @include responsive(1880) {
    min-width: 1880px;
  }
}

.main {
  min-height: calc(100vh - 214px);
  padding-top: 94px;
  background-color: $main-background;
  .main-inner {
    width: 1820px;
    margin: 0 auto;
  }
}

.commonPageBox_ly {
  @include flex-box($fd:column, $ai: stretch) {
    gap: $page-layout-gap;
  }
}

.tableBox_ly {
  @include flex-box($fd:column, $ai: stretch) {
    gap: $content-layout-gap;
  }
}

.subTitleBox {
  @include flex-box($jc:start);
  &_st {
    @include flex-box($jc:start);
  }
  &_bt {
    @include flex-box($jc:between);
  }
}


/********************************************************/


/************************ 간격 ************************/
// margin-top: n
@for $i from 1 through 90 {
  .mt#{$i} {
    margin-top: #{$i}px;
  }
}

// margin-bottom: n
@for $i from 1 through 90 {
  .mb#{$i} {
    margin-bottom: #{$i}px;
  }
}

// margin-right: n
@for $i from 1 through 90 {
  .mr#{$i} {
    margin-right: #{$i}px;
  }
}

// padding-top: n
@for $i from 1 through 90 {
  .pt#{$i} {
    padding-top: #{$i}px;
  }
}
/********************************************************/


/************************ ui, text요소 ************************/

// 기본 box 클래스 갖고있는 요소들
.box {
  border-radius: $box-border-radius;
  background-color: $white;
}

// button, a
.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  color: $white;
  &_xxs {
    @include wh($button-xxs-width, $button-xxs-height);
    background-color: $button-xxs-default-color;
    color: $black;
    border-radius: 3px;
  }
  &_s {
    &_del {
      padding: 5px;
      background-color: $button-del-color;
      font-size: $t-body-xs;
      font-weight: $light;
    }
  }
  &_m {
    height: $button-m-height;
    padding: $button-padding;
    box-sizing: border-box;
    font-size: $t-body-ms;
    &_primary {
      background-color: $button-primary-color;
      &_full {
        flex: 1;
        padding: 10px 0;
        font-size: $t-body-s;
        font-weight: $bold;
      }
    }
    &_secondary {
      background-color: $button-secondary-color;
    }
    &_search {
      min-width: $button-search-width;
      background-color: $button-search-color;
    }
    &_excel {
      background-color: $button-excel-color;
    }
    &_align {
      padding: 0 3px;
      font-size: $t-body-m;
      color: $btn3;
      &.isActive {
        color: $main;
      }
    }
    &_back {
      background-color: $button-back-color;
    }
    &_cancel {
      background-color: $button-cancel-color
    }
    &_view {
      background-color: $button-search-color;
    }
  }
  &_l {
    padding: 10px 5px;
    &_reg {
      min-width: 150px;
      background-color: $button-primary-color;
    }
    &_cl {
      min-width: 90px;
      background-color: $button-cancel-color;
    }
  }
  &_full {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: $t-body-s;
    box-sizing: border-box;
    &.addForm,
    &.ck-add-option {
      color: $formText;
      font-weight: $bold;
      border: $common-border;
      background-color: $em-color;
    }
  }
  &_arrow {
    @include wh(15px, 15px);
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    background-color: #edeff1;
    color: #666666;
  }
}

// 커스텀체크박스
label {
  &:has(.input_checkbox) {
    @include flex-box($jc:start) {
      gap: 5px;
    }
    font-size: $t-body-s;
    .input_checkbox {
      display: none;
      &:checked {
        & + .checkboxChk {
          &::after {
            content: '';
            @include position-center;
            @include wh(6px, 6px);
            background-color: $main;
          }
        }
      }
    }
    .checkboxChk {
      position: relative;
      display: inline-block;
      flex-shrink: 0;
      @include wh(10px, 10px);
      border: 1px solid $btn2;
    }
  }
}

// 커스텀라디오
.radioBox {
  label {
    @include flex-box($jc:start) {
      gap: 5px;
    }
    .input_radio {
      display: none;
      &:checked {
        & + .radioChk {
          &::after {
            content: '';
            @include position-center;
            @include wh(6px, 6px);
            border-radius: 50%;
            background-color: $main;
          }
        }
      }
    }
    .radioChk {
      position: relative;
      display: inline-block;
      flex-shrink: 0;
      @include wh(10px, 10px);
      border: 1px solid $btn2;
      border-radius: 50%;
    }
  }
}

// 인풋-파일 기본설정
.input_file {
  display: none;
  & + label {
    @include inline-flex;
  }
}

// 커스텀툴팁
.customToolTip {
  position: relative;
  font-size: $t-body-s;
  color: $formText;
  &:hover .customToolTip-inner {
    display: block;
  }
  .customToolTip-inner {
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
    @include wh(180px, auto);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: $t-body-xs;
    box-sizing: border-box;
    box-shadow: $common-box-shadow;
    background-color: #F1FCFF;
    display: none;
    z-index: 1;
  }
}

// 서브타이틀
.subTitleBox-subTitle {
  font-size: $t-body-l;
}

// 테이블캡션
.tableCaption {
  font-size: $t-body-xs;
  margin-bottom: 5px;
}

// 설명텍스트
.descText {
  font-size: $t-body-xs;
}

// 테이블 강조텍스트
.tableEm {
  .em {
    color: $main;
  }
}

/********************************************************/