@import "mixin.scss";
@import "functions.scss";
@import "variables.scss";

/* 
@ form 내용만 담고있습니다.
@ 모든 크기 단위는 고정적인 px을 사용했습니다. 
@ 해당 범위에서만 사용되는 변수는 이곳에 따로 지정해도됩니다.
*/

$box-gap: 18px;
$box-padding: 29px 32px;
$box-subTitle-margin-bottom: 20px;
$sectionBox-subTitle-margin-bottom: 15px;
$sectionBox-gap: 25px;
$infoBox-cate-width: 125px;
$infoBox-cate-height: 50px;
$inputs-height: 30px;
$inputs-padding: 10px;
$day-inputs-width: 140px;
$inputs-border: 1px solid #D2D2D2;
$textarea-height: 100px;
$select-max-width: 276px;
$customSelect-box-height : 30px;
$card-contents-gap: 15px;
$arrowBtns-height: 40px;
$form-title-background: #f4f4f4;
$arrowBtnsColors: (#F7B401, #F7B402, #F89E00, #F89E01, #FF9000, #FF9001, #FF6201, #FF6202, #E83E0B, #727272);

/***************** 레이아웃 *****************/
.contentsBox_ly {
  @include flex-box($fd: column, $ai: stretch) {
    gap: $box-gap;
  }
}

.detailBox {
  @include flex-box($jc:between, $ai:start) {
    gap: $box-gap;
  }
  // 속성확장
  &.flex_jc_ct {
    justify-content: center;
  }
}

.detailBox-half {
  @include flex-box($fd:column, $ai: stretch) {
    gap: $box-gap;
  }
  flex: 1;
  max-width: 900px;
  box-sizing: border-box;
  // 속성확장
  &.flex_jc_bt {
    flex-direction: row;
    justify-content: space-between;
  }
}

.subTitleBox_st {
  gap: 3px;
}

/*********************************************/

/***************** 공통박스 *****************/
.box {
  box-shadow: $common-box-shadow;
  &.innerBox {
    padding: $box-padding;
    box-sizing: border-box;
    & > .subTitleBox {
      margin-bottom: $box-subTitle-margin-bottom;
    }
  }
}

.sectionTitle {
  margin-bottom: $box-subTitle-margin-bottom;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ddd;
  .subTitleBox_st {
    gap: 5px;
  }
}
/*********************************************/


/***************** 분류코드 3depth 토글메뉴 *****************/
.mergeForm {
  padding: $box-padding;
  gap: 35px;
  .mergeForm-inner {
    flex: 1;
    // 스크롤생성
    &.scrollList {
      max-height: 650px;
      overflow-y: auto;
      @include customScroll;
    }
    .sectionTitle {
      margin-bottom: 20px;
    }
  }
  .subTitleBox_st,
  .commonDepthInner-btnBox {
    gap: 5px;
  }
  // 뎁스메뉴 - 헤더,바디공통
  .cate,
  .commonDepthInner-textBox,
  .commonDepthInner-btnBox {
    @include flex-box($jc:start);
    height: $infoBox-cate-height;
    padding: $inputs-padding;
    box-sizing: border-box;
  }
  .cate_1,
  .commonDepthInner-textBox {
    border-right: $inputs-border;
  }

  // 뎁스메뉴-헤더
  .lnb-header {
    display: grid;
    grid-template-columns: 200px 1fr;
    border-top: $inputs-border;
    border-bottom: $inputs-border;
    .cate {
      font-size: $t-body-m;
      font-weight: $bold;
      background-color: $form-title-background;
    }
  }
  // 뎁스메뉴-바디
  .lnb-inner {
    width: 100%;
    .depth_1_inner .commonDepthInner-textBox,
    .depth_2_inner .commonDepthInner-textBox {
      &::before {
        content: '\2b';
        margin-right: 5px;
        font-family: 'Font Awesome 6 Pro';
        font-size: $t-body-m;
        font-weight: $bold;
      }
      &.on {
        &::before {
          content: "\f068";
        }
      }
    }
    .depth_1_inner,
    .depth_2_inner,
    .depth_3_inner {
      border-bottom: $inputs-border;
    }
    .commonDepthInner {
      display: grid;
      grid-template-columns: 200px 1fr;
      font-size: $t-body-m;
    }
    .openDepth {
    }
    .depthEm {
      font-weight: $bold;
      color: $main;
    }
  }
}
/*********************************************/


/***************** 고객정보 + 잠재 고객 상태 wrap *****************/
.profileTabs {
  @include flex-box($jc:start, $ai: stretch) {
    gap: $box-gap;
  }
}
/*********************************************/


/***************** 고객정보 *****************/
.profileBox {
  position: relative;
  @include flex-box($fd: column);
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  .subTitleBox_bt {
    width: 100%;
    margin-bottom: 20px;
    .subTitleBox-subTitle {
      font-size: $t-body-m;
    }
    .btn {
      color: $black;
    }
  }
  .imgBox {
    @include wh(120px, 120px);
    margin-bottom: 10px;
    border-radius: 50%;
    @include reset-bg;
  }
  .userInfoText {
    text-align: center;
    .lightText {
      margin-bottom: 15px;
      font-size: $t-body-m;
    }
    .boldText {
      font-size: $t-body-l;
      font-weight: $bold;
    }
  }
}
/*********************************************/

/***************** 잠재 고객 상태 *****************/
.tabBtnsBox {
  @include flex-box($fd:column, $ai:stretch, $jc: start) {
    gap: 10px;
  }
  flex-grow: 1;
  padding: 30px;
  box-sizing: border-box;
  .subTitleBox-inner_left {
    @include flex-box($fd: column, $ai: stretch) {
      gap: 5px;
    }
    .subTitleBox-descText {
      font-size: $t-body-s;
      color: $formText;
    }
  }
  .tabWrapBox {
    @include flex-box($jc: start) {
      gap: 5px;
    }
    // 뒤 버튼 2개는 쉐입이 달라짐
    &.lastIssue {
      .arrowBtns {
        &:nth-last-child(-n+2) {
          border-radius: 3px !important;
          clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%) !important;
        } 
      }
    }
    // 뒤 버튼 3개는 쉐입이 달라짐
    &.lastIssue3 {
      .arrowBtns {
        &:nth-last-child(-n+3) {
          border-radius: 3px !important;
          clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%) !important;
        } 
      }
    }
    .arrowBtns {
      flex: 1;
      height: $arrowBtns-height;
      box-sizing: border-box;
      font-size: $t-body-s;
      font-weight: bold;
      color: $white;
      clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 0 51%, 0% 0%);
      // 버튼 컬러 각각 배경색 지정반복문
      @each $color in $arrowBtnsColors {
        $idx : index($arrowBtnsColors, $color);
        &:nth-child(#{$idx}) {
          color: #fff;
          background-color: $color;
        }
      }
      &.disable {
        color: $formText;
        background-color: #ececec;
      }
      &:first-child:nth-last-child(3),
      &:first-child:nth-last-child(3) ~ .arrowBtns {
        clip-path: polygon(0% 0%, 98% 0%, 100% 50%, 98% 100%, 0% 100%);
      }
    }
  }
  .textBox {
    @include flex-box($fd: column, $ai: start) {
      gap: 3px;
    }
    .textBox-title {
      margin-bottom: 3px;
      font-size: $t-body-m;
      font-weight: $bold;
      i {
        color: $btn3;
      }
    }
    .textBox-desc {
      padding-left: 20px;
      font-size: $t-body-m;
      &_dot {
        &::before {
          content: '-';
          padding-right: 5px;
        }
      }
    }
  }
}
/*********************************************/

/***************** 각 폼 섹션 *****************/
.sectionBox {
  & ~ & {
    margin-top: $sectionBox-gap;
  }
  .subTitleBox {
    margin-bottom: $sectionBox-subTitle-margin-bottom;
    .subTitleBox-subTitle {
      font-size: $t-body-m;
    }
  }
}
/*********************************************/

/***************** 행사명 단어들 wrap *****************/
.codeListBox {
  @include flex-box($jc:start) {
    flex-wrap: wrap;
    gap: 7px;
  }
  padding: 16px;
  margin-bottom: 16px;
  border-radius: $common-inputs-border-radius;
  font-size: $t-body-s;
  background-color: #F3F7FD;
}
/*********************************************/

/***************** 폼 각 입력칸 wrap *****************/
.infoBox ~ .infoBox {
  margin-top: $card-contents-gap;
}

.infoBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: $inputs-border;
  // 기본 폼 라인
  .infoBox-inner {
    @include flex-box($jc:start);
    border-bottom: $inputs-border;
    box-sizing: border-box;
    font-size: $t-body-s;
    color: $formText;
    &_full { // 폼이 1줄을 전부 차지할 때
      grid-column: 1 / -1;
      .infoBox-info {
        .inputBox_select {
          max-width: 256px;
          min-width: 256px;
          &::after {
            right: 10px !important;
          }
        }
      }
    }
    &_full_col { // 폼 세로정렬
      flex-direction: column;
      gap: 10px;
      border-bottom: none;
    }
    // 폼 카테고리 제목
    .infoBox-cate {
      @include inline-flex;
      @include wh($infoBox-cate-width, $infoBox-cate-height);
      min-height: 100%;
      flex-shrink: 0;
      font-size: $t-body-s;
      text-align: center;
      color: $formText;
      background-color: $form-title-background;
      // 강조된 카테고리 제목
      &.em {
        background-color: #F3F7FD;
      }
    }
    // 폼 세로정렬 - 검색/필터 영역
    .infoBox-cate_search {
      width: 100%;
      height: auto;
      min-height: auto;
      margin-top: 8px;
      background-color: transparent;
      @include flex-box($jc:between) {
        flex-wrap: wrap;
      }
      .innerSearchBox {
        @include flex-box($jc:start) {
          gap: 5px;
        }
        .inputWrapBox {
          height: $customSelect-box-height;
          padding: 3px 5px;
          border: 1px solid $btn2;
          border-radius: $common-inputs-border-radius;
          box-sizing: border-box;
          .input_text {
            @include inputsReset;
            height: 100%;
            font-size: $t-body-s;
          }
          .btn {
            color: $btn1;
          }
        }
        .customSelectBox {
          position: relative;
          .customSelectBox-btn {
            width: $customSelect-box-height;
            height: $customSelect-box-height;
            border: 1px solid $btn2;
            border-radius: $common-inputs-border-radius;
            color: $btn1;
            &.active {
              & + .customSelectBox-options {
                display: block;
              }
            }
          }
          // 필터, 날짜 선택 공통
          .customSelectBox-options {
            position: absolute;
            top: calc($customSelect-box-height + 5px);
            padding: 19px 24px;
            border: 1px solid $btn2;
            border-radius: $common-inputs-border-radius;
            background-color: #fff;
            .filterChkListBox {
              @include flex-box {
                flex-wrap: wrap;
                gap: 0 20px;
              }
            }
            .filterChkListBox-title {
              margin-bottom: 10px;
              font-size: $t-body-s;
              color: $black;
            }
            .btn {
              width: 100%;
              margin-top: 15px;
            }
          }
          // 필터 선택 박스 단독
          &2 {
            .customSelectBox-options {
              min-width: 239px;
              display: none;
              .filterChkListBox {
                .filterChkListBox-inner {
                  width: calc(50% - 11px);
                  &:nth-child(1) {
                    border-right: 1px solid $btn2;
                  }
                }
              }
              .inputLabelGroupBox {
                label {
                  font-size: $t-body-s;
                  font-weight: $medium;
                }
              }
              .inputLabelGroupBox ~ .inputLabelGroupBox {
                margin-top: 8px;
              }
            }
          }
          // 날짜 선택 박스 단독
          &3 {
            &.active {
              & + .openSelectBox3 {
                display: block;
              }
            }
            .customSelectBox-options {
              min-width: 320px;
              display: none;
              .inputBox_calendar {
                @include flex-box($jc: between) {
                  gap: 10px;
                }
                .input_date {
                  flex-grow: 1;
                  height: $customSelect-box-height;
                  padding: 0 10px;
                  @include inputsReset;
                  border-radius: $common-inputs-border-radius;
                  border: 1px solid $btn2;
                  font-size: $t-body-ms;
                  font-weight: $bold
                }
              }
              .btnsBox {
                @include flex-box($jc:between) {
                  gap: 8px;
                }
                .btn {
                  margin-top: 10px;
                  padding: 8px 0;
                  border: 1px solid $btn2;
                  color: $btn1;
                  &.active {
                    border-color: $button-primary-color;
                    color: $button-primary-color;
                    background-color: rgba($button-primary-color, 0.1);
                  }
                }
              }
            }
          }
        }
      }
      // 검색조건키워드단어
      .stickersBox {
        width: 100%;
        &:has(.sticker) {
          padding-top: 10px;
        }
        @include flex-box($jc:start) {
          gap: 7px;
          flex-wrap: wrap;
        }
        .sticker {
          padding: 7px 14px;
          border: 1px solid $button-primary-color;
          border-radius: 20px;
          font-size: $t-body-s;
          font-weight: $medium;
          color: $black;
          .btn {
            vertical-align: baseline;
            color: $black;
          }
        }
      }
    }
    // 폼 세로정렬 - 이력 리스트
    .infoBox-info_desc {
      width: 100%;
      padding: 16px 14px !important;
      background-color: $form-title-background;
      border: 1px solid $btn2;
      box-sizing: border-box;
      .timelineBox {
        @include flex-box($fd:column, $ai: start) {
          gap: 7px;
        }
        .timelineBox-title {
          @include inline-flex;
          padding: 4px 23px;
          margin-bottom: 6px;
          border-radius: 30px;
          font-size: $t-body-xs;
          font-weight: $bold;
          color: $black;
          background-color: #d7d7d7;
        }
        .timelineBox-desc {
          @include flex-box($jc:start) {
            gap: 8px;
          }
          width: 100%;
          .timelineBox-desc_icon {
            flex-shrink: 0;
            padding: 5px;
            border-radius: 50%;
            font-size: $t-body-xxs;
            color: #fff;
            &.blue {
              background-color: #387BC9;
            }
            &.yellow {
              background-color: #F9C541;
            }
            &.gray {
              background-color: #8C8C8C;
            }
            &.red {
              background-color: red;
            }
          }
          .timelineBox-desc_time {
            flex-shrink: 0;
            font-size: $t-body-xs;
            font-weight: $bold;
          }
          .timelineBox-desc_cate {
            flex-shrink: 0;
            @include inline-flex;
            padding: 2px 10px;
            border: 1px solid #d7d7d7;
            border-radius: 5px;
            font-size: $t-body-xs;
            color: $formText;
          }
          .timelineBox-desc_text {
            @include ellipsis;
            font-size: $t-body-xs;
          }
          .flex_shrink {
            flex-shrink: 0;
          }
        }
        // 날짜와 이력 구간이 달라질 때
        .timelineBox-desc ~ .timelineBox-title {
          margin-top: 15px;
        }
      }
    }
    // 폼 입력영역 - 기본
    .infoBox-info {
      position: relative;
      flex-grow: 1;
      padding: 5px 8px 5px 8px;
      // @include flex-box($jc:start);
      // 인풋요소들 공통 wrap
      .inputBox {
        @include flex-box($jc:start) {
          gap: 8px;
        }
        // 공통요소
        .input_text,
        .input_date,
        .select {
          @include inputsReset;
          width: 100%;
          max-width: 256px;
          height: $inputs-height;
          padding-left: $inputs-padding;
          border: 1px solid $btn2;
          @include inputsBorderRadius();
          box-sizing: border-box;
          font-size: $t-body-s;
          color: $formText;
          &:disabled {
            border: none;
            background-color: transparent;
          }
        }
        // 인풋-텍스트 단독
        .input_text {
          &.noInput {
            pointer-events: none;
            background-color: $btn2;
            &:disabled {
              background-color: transparent;
            }
          }
          &.noneBorder {
            border: none;
          }
        }
        // 인풋-셀렉트박스 단독
        .select {
          padding-right: 35px;
        }
        // 인풋-날짜 단독
        .input_date {
          padding-right: $inputs-padding;
        }
        // 인풋-textarea 단독
        .input_textarea {
          @include inputsReset;
          width: calc(100% - 6px);
          height: $textarea-height;
          padding: $inputs-padding;
          resize: none;
          border: 1px solid $btn2;
          @include inputsBorderRadius();
          box-sizing: border-box;
          &:disabled {
            border: none;
            background-color: transparent;
          }
        }
        // 인풋-라디오박스 단독
        .radioBox {
          font-size: $t-body-s;
          color: $formText;
          &:nth-child(1) {
            padding-left: 8px;
          }
        }
      }
      // 파일업로드
      label[for="file"] {
        @include inline-flex;
        height: 30px;
        padding: $inputs-padding;
        margin-right: 5px;
        border-radius: $common-inputs-border-radius;
        box-sizing: border-box;
        font-size: $t-body-ms;
        color: $white;
        cursor: pointer;
        input {
          display: none;
        }
        & + .fileNameInner {
          font-size: $t-body-ms;
          color: $formText;
        }
      }
      // 셀렉트박스 단독 wrap
      .inputBox_select {
        position: relative;
        // max-width: $select-max-width;
        &::after {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 30px;
          content: '\f078';
          font-family: 'Font Awesome 6 Pro';
          pointer-events: none;
        }
        &:has(.select:disabled) {
          &::after {
            font-size: 0;
          }
        }
        .select {
          appearance: none;
        }
      }
      // 삭제버튼
      .btn_s_del {
        @include position-center-y;
        right: -7px;
        display: none;
      }
      // 확장 - 세부영역 세로정렬
      &.col {
        @include flex-box($fd:column, $jc:start, $ai: stretch);
        gap: 10px;
      }
    }
    // 인풋과 텍스트가 함께묶인 박스
    .infoBox-info.dayChk {
      .inputBox_input {
        justify-content: space-between;
        width: $day-inputs-width;
        height: $inputs-height;
        padding-right: 8px;
        border: $inputs-border;
        border-radius: $common-inputs-border-radius;
        box-sizing: border-box;
        font-size: $t-body-s;
        .input_text {
          width: calc(100% - 35px);
          background-color: transparent;
        }
      }
    }
    // 주소입력 박스 레이아웃
    .infoBox-info.ly_grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto auto;
      // justify-content: unset;
      // align-items: unset;
      gap: 5px;
      .inputBox,
      .btn {
        width: 100%;
        height: 100%;
        max-width: unset;
        gap: unset;
      }
      .inputBox {
        &:nth-child(3) {
          grid-column: 1 / 3;
        }
        &:nth-child(4) {
          grid-column: 3 / -1;
        }
        .input_text {
          max-width: unset;
        }
      }
    }
    // 폼 입력영역 - 레이아웃 확장
    .infoBox-info_bt {
      @include flex-box($jc:between);
      flex-grow: 0;
      width: calc(100% - 140px);
      .customSelectBox_wrap {
        @include flex-box($jc:start) {
          gap: 25px;
        }
      }
      // 고정 셀렉트박스
      .customSelectBox {
        position: relative;
        width: 57px;
        height: $customSelect-box-height;
        flex-shrink: 0;
        .customSelectBox-btn_value {
          position: relative;
          width: 100%;
          height: 100%;
          border: 1px solid $btn2;
          &::after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
            content: "\f078";
            color: #BCBCBC;
            font-family: "Font Awesome 6 Pro";
            font-size: 10px;
            font-weight: 600;
          }
          & + .customSelectBox-options {
            display: none;
          }
          &.active + .customSelectBox-options {
            position: absolute;
            display: block;
            top: 33px;
            padding: 10px;
            border: 1px solid $btn2;
            border-radius: $common-inputs-border-radius;
            background-color: $white;
            .customSelectBox-btn_option ~ .customSelectBox-btn_option {
              margin-top: 5px;
            }
          }
          .fa-solid {
            padding-right: 13px;
          }
        }
        .customSelectBox-btn {
          .fa-solid {
            font-size: 20px;
            &.fa-face-smile {
              color: #0084e9;
            }
            &.fa-face-meh {
              color: #ffcc00;
            }
            &.fa-face-frown {
              color: #ff4734;
            }
            &.fa-circle-xmark {
              color: #959595;
            }
          }
        }
      }
      // 인풋 수정창이 닫혔을 때
      &.offInput {
        .customSelectBox_wrap {
          width: calc(100% - 22px);
        }
        .inputBox {
          display: none;
        }
        .customSelectBox-textVal {
          width: calc(100% - 135px);
          @include ellipsis;
          font-size: $t-body-s;
        }
        // 저장,취소버튼을 담고있음
        .subTitleBox_st {
          display: none;
        }
      }
      // 인풋 수정창이 열렸을 때
      &.onInput {
        .customSelectBox_wrap {
          width: calc(100% - 130px);
        }
        .inputBox {
          width: 100%;
          .input_text {
            width: 100%;
            max-width: unset;
          }
        }
        .customSelectBox-textVal {
          display: none;
        }
        .editContents {
          display: none;
        }
        // 저장,취소버튼을 담고있음
        .subTitleBox_st {
          @include flex-box($jc:start) {
            gap: 3px;
          }
        }
      }
      
    }
  }
  // 인포박스에 삭제버튼 클래스가 추가되어야만 나타남
  &.infoBox.addDelBtn {
    .btn_s_del {
      display: block;
    }
  }
  // 데이터가 연속으로 붙은 폼 라인
  .dateSection-input {
    .infoBox-info {
      flex-grow: 0;
      .input_date {
        width: $day-inputs-width !important;
      }
    }
  }
}
/*********************************************/

/***************** 유효고객정보 카드 *****************/
.cardWrap {
  @include flex-box($jc:between) {
    gap: 23px;
  }
  .cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    border: 1px solid $btn2;
    border-radius: $common-inputs-border-radius;
    box-shadow: unset;
    &.isActive {
      border-color: $button-primary-color;
    }
    .cardBox-inner_left {
      .cardBox-title {
        margin-bottom: $card-contents-gap;
        color: $button-primary-color;
      }
      .cardBox-list {
        margin-bottom: $card-contents-gap;
        @include flex-box($fd:column, $ai: start) {
          gap: 10px;
        }
        .cardBox-listItem {
          font-size: $t-body-s;
          i {
            margin-right: 5px;
          }
        }
      }
    }
    .cardBox-inner_right {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}
/*********************************************/

/***************** 폼 내부 탭버튼과 테이블의 간격 *****************/
.popup-tabBox ~ .sectionBox  {
  margin-top: $box-gap;
}
/*********************************************/

/***************** 폼 내부 탭버튼 *****************/
.popup-tabBox {
  @include flex-box($jc:start) {
    gap: 10px;
  }
  .btn {
    position: relative;
    padding: unset;
    padding-bottom: 10px;
    font-size: $t-body-m;
    font-weight: $bold;
    color: #9D9D9D;
    &.isActive {
      color: $main;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        @include wh(100%, 3px);
        background-color: $main;
      }
    }
  }
}
/*********************************************/

/***************** 폼 내부 테이블 *****************/
.infosTabBox-inner {
  display: none;
  &.isActive {
    display: block;
  }
  .tableWrapBox ~ .tableWrapBox {
    margin-top: $box-gap;
  }
  .tableWrapBox {
    padding: unset;
    // 속성확장-가로스크롤(내부테이블 1100)
    &.scrollBox-x {
      overflow-x: auto;
      .table_form {
        width: 1100px;
      }
    }
    // 속성확장-가로스크롤(내부테이블 1600)
    &.scrollBox-x.large {
      .table_form {
        width: 1600px;
      }
    }
    .table_form {
      margin-bottom: 0;
      th,
      td {
        border: 1px solid $btn2;
        label {
          justify-content: center;
        }
      }
      th {
        background-color: $form-title-background;
        color: $formText;
        font-weight: 700;
      }
      td {
        color: $formText;
        &.ta_r {
          padding-right: 10px;
          text-align: right;
          &:has(.input_text) {
            text-align: center;
          }
          .input_text {
            padding-right: 10px;
            text-align: right;
            color: $formText;
          }
        }
        .input_text {
          @include inputsReset;
          @include wh(110px, 30px);
          border: $inputs-border;
          border-radius: $common-inputs-border-radius;
        }
      }
      .totalBox {
        font-weight: $bold;
        background-color: $btn2;
        td {
          color: $black;
        }
      }
    }
  }
}
/*********************************************/

/***************** 비품내부 인풋모음(이 영역은 지정범위가 정해져있어 수정을 권하지않습니다) *****************/
.gridForm {
  @include flex-box($jc:start) {
    gap: 5px;
  }
  padding: $inputs-padding;
  border-radius: $common-inputs-border-radius;
  background-color: #ededed;
  .label {
    font-size: $t-body-xs;
  }
  .inputBox_select {
    max-width: unset !important;
    min-width: unset !important;
    .select {
      font-size: $t-body-ms !important;
    }
  }
  .input_text {
    width: 85px !important;
    font-size: $t-body-ms !important;
  }
}
/*********************************************/