@import "mixin.scss";
@import "functions.scss";
@import "variables.scss";

/* 
@ popup Box 내용만 담고있습니다.
@ 모든 크기 단위는 고정적인 px을 사용했습니다. 
@ 해당 범위에서만 사용되는 변수는 이곳에 따로 지정해도됩니다.
*/

$popup-item-gap : 15px;

/************************ 팝업 전체 wrap ************************/
.popupBox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: none;
  &.open {
    display: block;
  }
}
/********************************************************/

/************************ 팝업창 레이아웃 / 공통스타일링 ************************/
.popupBox-contents {
  @include position-center;
  @include wh(100%, auto);
  max-width: 950px;
  max-height: calc(100vh - 100px);
  padding: 42px 58px;
  border-radius: 24px;
  background-color: #fff;
  box-sizing: border-box;
  // 확장 - m사이즈 팝업
  &_m {
    max-width: 740px;
  }
  // 확장 - xl사이즈 팝업(캘린더에만 사용됩니다.)
  &_xl {
    min-height: calc(100% - 50px);
    z-index: 1;
    min-width: 1852px;
    max-width: 1852px;
    max-height: calc(100% - 50px);
    @include responsive(1669) {
      min-width: calc(100% - 100px);
      max-width: calc(100% - 100px);
    }
    .tableWrapBox {
      min-width: 1724px;
      padding: 0;
      overflow-y: hidden;
      overflow-x: hidden;
      @include responsive(1669) {
        overflow-x: auto;
      }
    }
  }
}
/********************************************************/

/************************ 팝업창용 내부 콘텐츠 ************************/

// 타이틀
.popup-title {
  .subTitleBox {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: $common-border;
    // 속성확장
    &.subTitleBox_unset {
      justify-content: flex-end;
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  .close_popup {
    color: $black;
    font-size: $t-body-l;
  }
}

// 상세
.popup-detail {
  @include flex-box($fd:column,$jc: start, $ai: stretch) {
    gap: 18px;
  }
  max-height: calc(100vh - 329px);
  padding-right: 7px;
  // @include customScroll;
  overflow-y: auto;
  // 팝업창 설명란
  .popup-desc {
    font-size: $t-body-s;
  }
  // 타이틀
  .popupDetailTitle {
    font-size: $t-body-m;
    &:not(:first-child) {
      margin-top: $popup-item-gap;
    }
    // 속성확장
    &.flex_jc_bt {
      @include flex-box($jc:between);
    }
  }
  // 폼끼리의 간격
  .infoBox ~ .infoBox {
    margin-top: 0;
  }
  // 인풋요소들
  .infoBox {
    .infoBox-inner {
      // 1줄짜리 폼
      &_full.dateSection {
        .infoBox-info {
          flex-grow: 0;
          .input_date {
            width: 140px;
          }
        }
      }
      // 일반 하프 폼
      .infoBox-info {
        .inputBox_select {
          // width: 100%;
          .select {
            padding-top: 0;
            padding-bottom: 0;
          }
        }
        .btn_s_del {
          right: 18px;
        }
      }
    }
  }
  // 강조글씨
  .em {
    color: $main;
  }

  // 단계버튼
  .tabWrapBox {
    .arrowBtns {
      white-space: nowrap;
      font-size: $t-body-xs;
    }
  }

  // flex-세로정렬
  .flex_col_st_sr {
    @include flex-box($fd:column, $jc:start, $ai: stretch) {
      gap: $popup-item-gap;
    }
  }

  // 비품 검색,필터박스
  .infoBox {
    .infoBox-inner {
      .infoBox-cate_search {
        margin-top: -10px;
        .innerSearchBox {
          .customSelectBox2 {
            .customSelectBox-options {
              min-width: max-content;
              .filterChkListBox {
                justify-content: flex-start;
                .filterChkListBox-inner {
                  &:nth-child(1) {
                    border: none;
                  }
                  width: 100%;
                  max-height: 200px;
                  overflow-y: auto;
                }
              }
            }
          }
        }
      }
    }
  }

  // 단계버튼
  .arrowBtns {
    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ .arrowBtns {
      clip-path: polygon(0% 0%, 96% 0%, 100% 50%, 96% 100%, 0% 100%);
    }
  }

  // 커스텀툴팁
  .customToolTip {
    &.inPopup {
      .customToolTip-inner {
        width: max-content;
        top: 22px;
        left: -20px;
        &.textAlign_l {
          text-align: left;
        }
        .listDesc {
          font-weight: $light;
          &::before {
            content: 'ㆍ';
            font-weight: $bold;
          }
          .pd15 {
            padding-left: 15px;
          }
        }
      }
    }
    .customToolTip-inner {
      top: -70px;
    }
  }

  // table래핑
  .tableWrapBox {
    padding: 0;
    &.scroll {
      flex-shrink: 0;
      max-height: 250px;
      border-top: $common-border;
      border-bottom: $common-border;
    }
    &_tab {
      display: none;
      &.isActive {
        display: block;
      }
    }
  }

  // 권한 체크 영역
  .chkAreaBox {
    @include flex-box;
    min-height: 320px;
    font-size: $t-body-m;
    background-color: $em-color;
  }

  /**** 팝업창 - 일괄등록 ****/
  .popup-desc-btn {
    @include flex-box($jc:start) {
      gap: 15px;
    }
    font-size: $t-body-s;
  }
  .uploadFileBox-inputWrap {
    @include flex-box($jc:start);
    padding: 20px 10px;
    margin-bottom: 15px;
    background-color: #f6f6f6;
    border-radius: $common-inputs-border-radius;
    .label_file {
      margin-right: 5px;
    }
    .getFileNameText {
      font-size: $t-body-s;
    }
    .btn:not(label) {
      margin-left: auto;
    }
  }
  .uploadFileListBox {
    padding: 20px 10px;
    border-radius: $common-inputs-border-radius;
    background-color: $em-color;
    .uploadFileListBox-item ~ .uploadFileListBox-item {
      margin-top: 8px;
    }
    .chip_excel {
      padding: 5px;
      margin-right: 5px;
      border-radius: $common-inputs-border-radius;
      color: $white;
      background-color: $button-excel-color;
    }
    .getFileNameText {
      font-size: $t-body-ms;
      color: $formText;
    }
  }
  /************************/
  
  /**** 팝업창 - 개별등록step2 ****/
  .searchGroupBox {
    .inputBox {
      .input_text {
        min-width: 300px;
        border: $common-border;
      }
    }
    .resBox {
      margin-top: $popup-item-gap;
      .resBox-inner {
        padding: 10px;
      }
      .noRes {
        font-size: $t-body-s;
      }
      .isRes {
        @include flex-box($fd:column, $jc:start, $ai:stretch);
        width: 100%;
        height: 200px;
        padding: 10px;
        overflow-y: auto;
        .isRes-item {
          padding: 5px 10px;
          border-radius: 0;
          font-size: $t-body-m;
          font-weight: $light;
          text-align: left;
          color: $black;
          &::before {
            content: '-';
            margin-right: 5px;
          }
          &.isActive {
            color: $white;
            background-color: $main;
          }
        }
      }
      background-color: #eee;
      .resBox-inner_res {
        @include flex-box;
        min-height: 180px;
        box-sizing: border-box;
      }
      .resBox-inner_input {
        padding: 10px;
        border-top: $common-border;
        .input_text {
          width: 100%;
        }
      }
    }
  }
  /************************/

  
  /**** 팝업창 - 대관업무등록 ****/
  .rentInfoBox {
    display: none;
    &.isActive {
      display: flex;
    }
  }
  .rentInfoChangeBtns {
    .btn {
      background-color: $disable;
      color: $formText;
      &.isActive {
        background-color: $main;
        color: $white;
      }
    }
  }
  /************************/
}

// 하단 버튼
.popup-btnGroup {
  text-align: center;
}
/********************************************************/