@import "mixin.scss";
@import "functions.scss";
@import "variables.scss";

/* 
@ searchBox 내용만 담고있습니다.
@ 모든 크기 단위는 고정적인 px을 사용했습니다. 
@ 해당 범위에서만 사용되는 변수는 이곳에 따로 지정해도됩니다.
*/

$background: #DFDFDF;
$select-min-width: 140px;
$date-min-width: 145px;
$inputs-padding: 7px 10px;
$inputs-height: 30px;
$input-gap: 8px;
$inputGroup-gap: 10px;
$label-right-margin: 10px;
$searchBox-padding: 20px 25px;


/************************ Layout ************************/
.searchBox_head{
  position: relative;
  padding: $searchBox-padding;
  border-radius: 3px;
  background-color: $background ;
  .inputGroup {
    @include flex-box($fd:column, $ai: start) {
      gap: $input-gap;
    }
    .inputGroup-line {
      @include flex-box($jc:start) {
        gap: $inputGroup-gap;
      }
    }
  }
  .buttonGroup {
    position: absolute;
    bottom: 20px;
    right: 25px;
  }
}
.searchBox_body {
  @include flex-box($jc:between);
  .searchBox_body-inner_left {
    .label {
      margin-right: $input-gap;
      vertical-align: middle;
      font-size: $t-body-m;
      strong {
        font-size: $t-body-l;
      }
    }
  }
  .searchBox_body-inner_right {
    @include flex-box($jc:start) {
      gap: $input-gap;
    }
  }
}

// 대관영역 검색박스
.selectlocationBox {
  padding: $searchBox-padding;
  border-radius: 10px;
  background-color: $background;
  .selectlocationBox-section {
    @include flex-box($jc: start);
    .sectionTitle {
      width: 110px;
      flex-shrink: 0;
      font-size: $t-body-m;
      font-weight: $bold;
    }
    .chksWrap {
      flex-grow: 1;
      @include flex-box($jc:start) {
        gap: 8px;
        flex-wrap: wrap;
      }
    }
  }
  .selectlocationBox-section ~ .selectlocationBox-section {
    margin-top: 10px;
  }
  .searchBox_head {
    padding: 0;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $white;
    .buttonGroup {
      right: 0;
      bottom: 0;
    }
  }
}

/********************************************************/

/************************ ui요소 ************************/
// input
.inputBox_input {
  @include flex-box($jc:start) {
    gap: $input-gap;
  }
  .input_text {
    @include inputsReset;
    height: $inputs-height;
    padding: $inputs-padding;
    border-radius: $common-inputs-border-radius;
    font-size: $t-body-ms;
  }
}

// select
.inputBox_select {
  position: relative;
  width: fit-content;
  background-color: #fff;
  @include inputsBorderRadius;
  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    content: '\f078';
    font-family: 'Font Awesome 6 Pro';
  }
  .select {
    width: auto;
    min-width: $select-min-width;
    height: $inputs-height;
    padding: $inputs-padding;
    padding-right: 52px;
    @include inputsReset;
    appearance: none;
    font-size: $t-body-ms;
  }
}

// date
.inputBox_calendar {
  .label {
    margin-right: $label-right-margin;
    font-size: $t-body-ms;
    font-weight: bold;
  }
  .input_date {
    @include inputsReset;
    @include inputsBorderRadius;
    width: $date-min-width;
    padding: $inputs-padding;
    font-size: $t-body-ms;
    &:nth-of-type(1) {
      margin-right: 8px;
    }
    &:nth-of-type(2) {
      margin-left: 8px;
    }
  }
}

// range 인풋박스
.inputBox_customRange {
  position: relative;
  @include flex-box($jc: start);
  height: $inputs-height;
  padding: $inputs-padding;
  border-radius: $common-inputs-border-radius;
  box-sizing: border-box;
  background-color: $white;
  .label {
    font-size: $t-body-s;
    font-weight: $medium;
  }
  .input_text {
    width: 100px;
    padding-left: 8px;
    @include inputsReset;
  }
  .rangeTabOpen {
    color: $black;
  }
}


// 대관업무 체크박스
.fullChks {
  input[type="checkbox"] {
    display: none;
    &:checked {
      & + label {
        color: $white;
        background-color: $main;
        &::before {
          content: '\f00c';
          font-family: 'Font Awesome 6 Pro';
        }
      }
    }
  }
  label {
    display: inline-block;
    padding: 5px 13px;
    font-size: $t-body-s;
    border-radius: 30px;
    background-color: $disable;
    cursor: pointer;
  }
}

/********************************************************/